@import "tailwindcss";

@layer base {
  body {
    scroll-behavior: smooth;
    font-family: var(--font-cinzel), sans-serif;
  }

  h1, h2, h3 {
    font-family: var(--font-dancing), cursive;
  }
}

.dancing{
  font-family: var(--font-dancing), cursive;
}
